.navBar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #e8e8e8;
  padding: 1rem 4rem !important;
}

nav {
  flex: 1;
  padding: 0.5rem 1rem;
  margin: 0 0 0 3rem;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #777;
  margin: 0 2rem 0 0;
}

.link:hover {
  color: rgb(17, 45, 172);
}

.link:active {
  color: #000;
}

.logo {
  color: #0290ff;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.userIcon {
  background: none;
  border: solid 1px #e8e8e8;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #4386bf;
  font-size: 1rem;
  transition: all 0.3s;
}

.userIcon:hover {
  color: #0290ff;
  transform: scale(1.1);
}
