.rocket {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  margin-bottom: 20px;
}

.rocket img {
  width: 100%;
  height: auto;
}

.rocket h3 {
  margin: 0;
  margin-bottom: 5px;
}

.rocket .details p {
  margin: 10px 0;
}
